@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,800&display=swap");

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  
}

/* Track (the area on which the thumb rests) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Gray background color for the track */
  border-radius: 5px;
}

/* The scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Gray color for the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* When you hover over the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: darkgray; /* Darker gray color on hover */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.hidden {
  display: none !important;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.dashbar {
  position: relative;
  height: 100%;
  width: 25rem;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1rem;
}

.inner-dashbar::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(181, 33, 194, 0.2),
    transparent 50%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  /* z-index: 2; */
  transition: opacity 0.5s;
}

.inner-dashbar:hover::before {
  opacity: 1;
}

.inner-dashbar {
  position: relative;
  width: 20rem;
  height: 60%;
  border: 2px solid rgba(105, 21, 173, 0.24);
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.39);
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 255, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.cta-stl {
  width: 80%;
  height: 3rem;
  color: rgb(204, 197, 197);
  background-color: transparent;
  border: 1px solid rgba(98, 0, 255, 0.384);
  background-color: rgba(0, 0, 255, 0.144);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 211, 0.342),
    rgba(165, 22, 165, 0.295)
  );
  border-radius: 0.4rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.39);
  font-size: 20px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  user-select: none;
}

.cta-stl:hover {
  color: white;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 255, 0.637);
  background-color: rgba(0, 0, 255, 0.301);
  background: linear-gradient(
    90deg,
    rgba(40, 40, 211, 0.342),
    rgba(165, 22, 165, 0.5)
  );
  /* transform: scale(1.1); */
}

.selected {
  background: linear-gradient(
    90deg,
    rgba(40, 40, 211, 0.342),
    rgba(165, 22, 165, 0.76)
  );
  pointer-events: none;
  color: white;
}

i {
  transition: all 0.3s ease-in-out;
  margin-left: 0.3rem;
}

.translateX {
  transform: translateX(1rem);
}

.cta-stl:hover i {
  transform: translateX(1rem);
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.inner-content {
  position: relative;
  width: 97%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1rem;
}

.tabtitle {
  color: white;
  font-size: 2.5rem;
  /* padding-left: 1.5rem; */
  transition: all 0.3s ease-in-out;
  text-align: start;
  position: relative;
  user-select: none;
  margin-top: 3rem;
}

.slideIn {
  animation: slideIn 0.3s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-1rem);
    opacity: 0.2;
  }

  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.tabs {
  position: absolute;
  width: 100%;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: auto 0;
  transition: all 0.3s ease-in-out;
  height: 100%;
}

.videoframe {
  position: relative;
  width: 100% !important;
  /* pointer-events: none;
  height: 100% !important; */
  max-height: 780px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.videoframe-main {
  /* border: 1px solid red; */
  height: 100%;
  width: 100%;
  margin-right: 10rem;;
}

.videocontainer {
  position: relative;
  width: 100% !important;
  /* pointer-events: none; */
  height: 75% !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto 0;
}

.personalia-box {
  position: relative;
  width: 100%;
  height: 60%;
  /* background-color: red; */
  padding-left: 3rem;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto 0;
}

.pfp {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain the image's aspect ratio */
  display: block; /* Remove any extra spacing or borders */
  margin: 0 auto;
  object-fit: cover;
}

.sidebox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  padding-left: 1.5rem;
}

.cinematographer {
  font-size: 2.5vw;
  text-align: center;
  display: block;
  /* width: 100%; */
  color: white;
  position: relative;
}

.personal-desc {
  color: white;
  width: 100%;
  margin-top: 1rem;
  font-size: 18px;
  max-width: 700px;
}

.videotilescontainer {
  position: relative;
  width: 100%;
  height: 61%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  /* border: 1px solid red; */
  overflow-y: scroll;
 margin: auto 0;
 padding-bottom: 0.5rem;
}

.videotile {
position: relative;
width: 31%;
max-width: 16rem;
height: 21.5rem;
border: 1px solid rgba(255, 255, 255, 0.09);
border-radius: 0.4rem;
overflow: hidden;
transition: all 0.15s ease-in-out;
cursor: pointer;
}



.videotile:hover::before {
  opacity: 1;
}

.videotile::before {
  background: radial-gradient(
    500px circle at var(--mouse-x2) var(--mouse-y2),
    rgba(137, 128, 138, 0.25),
    transparent 50%
  );
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  /* z-index: 2; */
  transition: opacity 0.5s;
}

.videotile:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.178);
  transform: scale(1.03);
}

.videodesc {
  color: rgb(192, 167, 167);
  text-align: center;
}

.vid-desc-txt {
  color: rgb(243, 240, 240);
  
  padding: 0.7rem;
  padding-top: 0.8rem;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-modal {
  width: 62rem;
  height: 25rem;
  background-color: rgb(18, 19, 97);
  background: linear-gradient(230deg,rgb(7, 7, 117), rgb(6, 6, 82), rgb(7, 7, 117), rgb(6, 6, 82));
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}

.video-preview {
  position: relative;
  width: 30rem;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-desc-box {
  position: relative;
  width: 30rem;
  height: 100%;
  /* background-color: rgb(126, 35, 35); */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 3.5rem;
}

.prev-title {
  font-size: 1.75rem;
  color: white;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  padding-left: 0.5rem;
}

.prev-desc {
  color: rgb(243, 240, 240);
  
  padding: 0.7rem;
  padding-top: 0.8rem;
  height: 14rem;
  overflow: scroll;
  overflow-x: hidden;
}

.prev-vid {
  cursor: pointer;
}

.close-prevmodal {
  position: relative;
  color: gray;
  font-size: 1.7rem;
  margin-top: 0.5rem;
  left: 96%;
  cursor: pointer;
  z-index: 10;
  /* transition: all 0.1s ease-in-out; */
}

.close-prevmodal:hover {
  color: white;
}

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}